/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (min-width: 768px) {

    .navigation{display: block !important;}

    .toggle_menu_btn{display: none;}
    
}

@media only screen and (max-width: 1199px) {
	
	body{min-width:975px;}
	
	.container{
		width: 960px;
	}
}

@media only screen and (max-width: 992px) {
	
	body{min-width:768px;}
	
	.container{
		width: 750px;
	}

}

@media only screen and (max-width: 767px) {
 	
 	body{
 		min-width:460px;
 	}

 	.container{
		width: 460px;
	}

 	.additional_menu_box{display: none;}

 	nav{
 		float: right;
 	}

}

@media only screen and (max-width: 479px) {

	body{min-width:320px;}

	
 	.container{
		width: auto;
		padding: 0 15px;
	}


}